$fontFamily: {{ .Site.Params.font.name }};

$colorBackToTop: rgb(255, 197, 83);
$colorPrimaryDark: rgb(1, 50, 67);
$colorPrimaryLight: rgb(238, 238, 238);
$colorSecondaryLight: rgb(77, 171, 207);
$colorTertiaryLight: rgb(255, 255, 255);
$colorEmphasis: rgb(0, 0, 0);
$colorShadow: rgba(0, 0, 0, 0.1);

body {
    font-family: $fontFamily, sans-serif;
}

em {
    color: $colorEmphasis !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-container {
    width: 100vw;
}

.hero-container {
    width: 100vw;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-title-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 6vh auto;
    justify-content: space-around;
}

.hero-headline {
    display: flex;
    flex-direction: row;
}

.hero-title {
    display: flex;
    font-family: $fontFamily, sans-serif;
    font-weight: 900;
    font-size: 6em;
    color: $colorPrimaryDark;
}

.hero-logo {
    max-height: 75px;
    padding: 0px 0 0 15px;
}

.hero-subtitle {
    font-size: 1em;
    max-width: 550px;
}

.hero-cta {
    padding: 15px 0;
}

.cta-button {
    width: 175px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: $colorTertiaryLight;
    background-color: $colorPrimaryDark;
    border: none;
    border-radius: 25px;
    outline: none;
    /* Black, with 10% opacity */
    box-shadow: 0px 8px 15px $colorShadow;
    cursor: pointer;
}

#navbar-item {
    color: $colorPrimaryDark;
    text-decoration: none;
}

#navbar-item:hover {
    color: $colorSecondaryLight !important;
}

#feature-card {
    height: 475px;
}
#backtotop.visible #backtotop-color:hover {
    background: $colorBackToTop;
}

.mt-30 {
    margin-top: 30px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 15px;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 10px;
}

p {
    padding-top: 5px;
}

.content-container ul {
    list-style-type: circle;
    padding: 10px;
    margin-left: 15px;
}

.content-container  ol {
    padding: 10px;
    margin-left: 15px;
}

@media only screen and (max-width: 1090px) {
    .hero-content {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .hero-title-content {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    .flex-column {
        margin: 0 30px;
    }

    .hero-title {
        font-size: 4em;
    }

    .hero-logo {
        max-height: 60px;
    }
}

@media only screen and (max-width: 400px) {
    .hero-logo {
        max-height: 50px;
    }
}

@media only screen and (max-width: 320px) {
    .hero-logo {
        max-height: 40px;
    }
}

/* Footer */
#footer {
    background-color: $colorPrimaryDark;
}

.footer-logo-column {
    display: flex;
    justify-content: center;
    padding: 20px 5vw;
    font-size: 1rem;
}

#footer-logo {
    height: 75px;
}

.link-column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.footer-link, .footer-link:hover {
    font-size: 1rem;
    color: $colorPrimaryLight;
}

.footer-actions {
    max-width: 25vw;
    margin: 20px 25px;
}

.footer-actions > p {
    padding-top: 0;
}

.footer-actions p {
    margin: 0;
    color: $colorPrimaryLight;
}

.social-media-icons {
    display: flex;
}

.copyright {
    font-size: 12px;
    color: $colorPrimaryLight;
}

figcaption {
    text-align: center;
}

.csfigcaption {
    text-align: center;
}

.fig-center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

blockquote {
    margin: 10px;
}

blockquote p {
    padding: 15px;
    background: $colorPrimaryLight;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

@media only screen and (max-width: 850px) {
    #footer-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-actions {
        max-width: 50vw;
    }

    .social-media-icons {
        width: 100%;
    }
}
