{{- $grid_item_card := default false .grid_item_card -}}
{{- $card := .card -}}
{{- $class := "" }}{{- with $card.classcard }}{{ $class = . }}{{- end }}
{{- if $grid_item_card -}}
{{- $columns := default "" $card.columns -}}
  {{- if eq $columns ""}}
    <div class="sd-col sd-d-flex-row">
  {{- else if eq $columns "auto"}}
    <div class="sd-col sd-d-flex-row sd-col-auto sd-col-xs-auto sd-col-sm-auto sd-col-md-auto sd-col-lg-auto">
  {{- else }}
    {{- $columns := split $columns " " }}
    {{- $xs := index $columns 0 }}
    {{- $sm := index $columns 1 }}
    {{- $md := index $columns 2 }}
    {{- $lg := index $columns 3 }}
    <div class="sd-col sd-d-flex-row sd-col-{{ $xs }} sd-col-xs-{{ $xs }} sd-col-sm-{{ $sm }} sd-col-md-{{ $md }} sd-col-lg-{{ $lg }}">
 {{- end }}
 {{ with $card.link }}
  <div class="sd-card sd-w-100 sd-shadow-sm sd-card-hover {{ $class }}">
 {{ else }}
  <div class="sd-card sd-w-100 sd-shadow-sm {{ $class }}">
 {{ end }}
{{- else -}}
 {{ with $card.link }}
  <div class="sd-card sd-mb-3 sd-shadow-sm sd-card-hover {{ $class }}">
 {{ else }}
  <div class="sd-card sd-mb-3 sd-shadow-sm {{ $class }}">
 {{ end }}
{{- end -}}
  {{- with $card.header }}
   <div class="sd-card-header">
     {{ . | markdownify }}
   </div>
  {{- end }}
   <div class="sd-card-body">
    {{- with $card.title }}
    <div class="sd-card-title sd-font-weight-bold">
      {{ . }}
    </div>
    {{- end }}
    {{- with (trim $card.body "\n") }}
      {{ . | markdownify }}
    {{- end }}
   </div>
  {{- with $card.footer }}
   <div class="sd-card-footer">
    {{ . | markdownify }}
   </div>
  {{- end }}
 {{- with $card.link }}
    <a class="sd-stretched-link" href="{{.}}"></a>
 {{- end }}
  </div>
{{ if $grid_item_card -}}</div>{{- end }}
