version: 2.1

jobs:
  build:
    working_directory: ~/scientific-python-hugo-theme
    docker:
      - image: cibuilds/hugo:latest

    steps:
      - checkout

      - run:
          name: Install hugo theme
          command: git submodule update --init --recursive

      - run:
          name: Generate shortcode docs
          command: python tools/render_shortcode_docs.py > doc/content/shortcodes.md
          
      - run:
          name: Build site
          command: |
            (cd doc ;
            sed -i '1s/^/uglyurls: true\n/' config.yaml ;
            sed -i 's/\(url: \/.\+\)\//\1.html/' config.yaml ;
            sed -i 's/url: \/$/url: \/index.html/' config.yaml ;
            sed -i 's/\(link: \/.\+\)\//\1.html/' config.yaml ;
            sed -i 's/\(buttonlink: \/.\+\)\//\1.html/' config.yaml ;
            sed -i 's/link: \/$/link: \/index.html/' config.yaml ;
            hugo --themesDir="../..")

      - store_artifacts:
          path: doc/public/
