[build.environment]
  PYTHON_VERSION = "3.8" # netlify currently only support 2.7 and 3.8
  HUGO_VERSION = "0.121.1"
  DART_SASS_VERSION = "1.69.5"
  DART_SASS_URL = "https://github.com/sass/dart-sass/releases/download/"

[context.production.environment]
  BUILD_TARGET = "theme"

[context.deploy-preview.environment]
  BUILD_TARGET = "netlify-preview"

[context.deploy-preview]
  ignore = "false"

[build]
  base = "doc"
  publish = "public"
  command = """\
    export DART_SASS_TARBALL="dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz" && \
    (cd /tmp && \
     curl -LJO ${DART_SASS_URL}/${DART_SASS_VERSION}/${DART_SASS_TARBALL} && \
     tar -xf ${DART_SASS_TARBALL} && \
     rm ${DART_SASS_TARBALL}) && \
    export PATH=/tmp/dart-sass:$PATH && \
    (cd ../.. && ln -s repo scientific-python-hugo-theme) && \
    (cd .. && make ${BUILD_TARGET})
    """

[[plugins]]
  package = "netlify-plugin-checklinks"

  [plugins.inputs]
  skipPatterns = ['https://fonts.gstatic.com', 'https://fonts.googleapis.com']
