[build.environment]
  PYTHON_VERSION = "3.8" # netlify currently only support 2.7 and 3.8
  HUGO_VERSION = "0.119.0"
  DART_SASS_VERSION = "1.69.4"
  DART_SASS_URL = "https://github.com/sass/dart-sass/releases/download/"

[build]
  base = "doc"
  publish = "public"
  command = """\
    export DART_SASS_TARBALL="dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz" && \
    curl -LJO ${DART_SASS_URL}/${DART_SASS_VERSION}/${DART_SASS_TARBALL} && \
    tar -xf ${DART_SASS_TARBALL} && \
    rm ${DART_SASS_TARBALL} && \
    export PATH=/opt/build/repo/doc/dart-sass:$PATH && \
    (cd ../.. ; ln -s repo scientific-python-hugo-theme) && \
    (cd .. ; make docs) \
    """

[context.deploy-preview]
  ignore = "false"

[[plugins]]
  package = "netlify-plugin-checklinks"
