{{ define "main" }}
<section class="section content-padding">
  {{ with partial "_decorators/content-container.html" . }}
    {{ if .Content }}
    {{ .Content }}
    {{ end }}
    {{ if (or (not .Content) .Params.listPages) }}
    <div class="page-list">
      <ul>
        {{ range .Pages }}
        {{ if .Title }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
    {{ end }}
  {{ end }}
  {{ if .Content }}
  {{ partial "shortcuts.html" . }}
  {{ end }}
</section>
{{ end }}
