.sd-container,
.sd-container-fluid,
.sd-container-lg,
.sd-container-md,
.sd-container-sm,
.sd-container-xl {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--sd-gutter-x, 0.75rem);
  padding-right: var(--sd-gutter-x, 0.75rem);
  width: 100%;
}

.sd-row {
  --sd-gutter-x: 1.5rem;
  --sd-gutter-y: 0;
  display: flex;
  margin-top: calc(var(--sd-gutter-y) * -1);
  margin-right: calc(var(--sd-gutter-x) * -0.5);
  margin-left: calc(var(--sd-gutter-x) * -0.5);
}
