<section class="section content-padding flex-row">
  <div class="content-container">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{ if .Params.Subtitle }}
    <h5 class="subtitle">{{ .Params.Subtitle }}</h5>
    {{ end }}
    {{ if .Content }}
    {{ .Content }}
    {{ end }}
    {{ $posts := .RegularPagesRecursive.ByPublishDate.Reverse }}
    {{ partial "posts/list-without-summary.html" $posts }}
  </div>
  {{ if .Content }}
  {{ partial "shortcuts.html" . }}
  {{ end }}
</section>
