{{- $featuredImage := .Resources.GetMatch "featuredImage" -}}
<section class="post content-padding">
  {{ with partial "_decorators/content-container.html" . }}
    <div class="post-meta">{{ partial "posts/meta.html" . }}</div>
    <div class="post-content">
      {{ with $featuredImage }}
      {{ if .Params.showOnTop }}
      <div class="post-featuredImage">
        <img src="{{ .RelPermalink }}" {{ with .Params.description }}alt="{{ . }}"{{ end }}/>
      </div>
      {{ end }}
      {{ end }}
      {{ .Content }}
      {{ partial "posts/comments.html" .}}
    </div>
  {{ end }}
  {{ partial "shortcuts.html" . }}
</section>
