{{- $featuredImage := .Resources.GetMatch "featuredImage" -}}
<section class="post content-padding">
  <div class="content-container">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{ if .Params.Subtitle }}
    <h5 class="subtitle">{{ .Params.Subtitle }}</h5>
    {{ end }}
    <div class="post-meta">{{ partial "posts/meta.html" . }}</div>
    <div class="post-content">
      {{ if and $featuredImage $featuredImage.Params.showOnTop }}
      <div class="post-featuredImage">
        <img src="{{ $featuredImage.RelPermalink }}" {{ if $featuredImage.Params.description }}alt="{{ $featuredImage.Params.description }}"{{ end }}/>
      </div>
      {{ end }}
      {{ .Content }}
      {{ partial "posts/comments.html" .}}
    </div>
  </div>
  {{ partial "shortcuts.html" . }}
</section>
