{{- $featuredImage := .Resources.GetMatch "featuredImage" -}}
<section class="post content-padding">
  <div class="content-container">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{ if .Params.Subtitle }}
    <h5 class="subtitle">{{ .Params.Subtitle }}</h5>
    {{ end }}
    <div class="post-meta">{{ partial "posts/meta.html" . }}
      <span class="post-please-comment">🖊️ Please add your comments <a href="#discourse-comments">below!</a></span>
    </div>
    <div class="post-content">
      {{ with $featuredImage }}
      {{ if .Params.showOnTop }}
      <div class="post-featuredImage">
        <img src="{{ .RelPermalink }}" {{ with .Params.description }}alt="{{ . }}"{{ end }}/>
      </div>
      {{ end }}
      {{ end }}
      {{ .Content }}
      {{ partial "posts/comments.html" .}}
    </div>
  </div>
  {{ partial "shortcuts.html" . }}
</section>
