<nav aria-label="Breadcrumb">
<ul id="breadcrumbs" class="bd-breadcrumbs">
{{- range $index, $ := .Ancestors.Reverse }}
{{- if (eq $index 0) }}
  <li class="breadcrumb-item breadcrumb-home"><a href="{{ .RelPermalink }}" class="nav-link" aria-label="Home"><i class="fas fa-home"></i></a></li>
{{- else }}
{{- if .Title }}
  <li class="breadcrumb-item"><a href="{{ .RelPermalink }}" class="nav-link">{{ .Title }}</a></li>
{{ else }}
  {{ errorf "Page has no \"title\" field.  Filename:%q" .File.Filename }}
{{ end }}
{{- end }}
{{- end }}
  <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
</ul>
</nav>
