{{- $keyfeatures := .Site.Params.keyfeatures }}
{{- $features := index $keyfeatures "features" }}
{{- $org_title := index $features "org_title" }}
{{- $url := index $features "url" }}
{{- $img := index $features "img" }}

<section class="keyfeatures">
    <div class="container is-max-widescreen">
        <div class="keyfeatures-box-container">
            {{- range $features }}
            <div class="keyfeatures-box-content keyfeatures-underline">
                <p>
                    <div class="keyfeatures-box-title">{{ .title }}</div>
                    <div class="keyfeatures-box-text">{{ .text | markdownify }}</div>
                    <div class="keyfeatures-box-org_title">{{ .org_title }}</div>
                    <div class="keyfeatures-box-url">{{ .url }}</div>
                    <div class="keyfeatures-box-img">{{ .img }}</div>
                </p>
            </div>
            {{- end }}
        </div>
    </div>
</section>
