<aside class="news topic">
    <header>News</header>
    {{ range first 2 (or (where .Site.RegularPages "Section" "news") (slice (.Site.GetPage "news"))) }}
    {{ $newsLink := default "/news" .Params.newsLink }}
    {{ $newsHeader := default .Title .Params.newsHeader }}
    {{ $date := .Date.Format "2006-01-02" }}
    <article>
        <header>
            <a href="{{ relURL $newsLink }}"> {{ $newsHeader }}</a>
            {{ if .Date }}
            <time><a href="{{ relURL $newsLink }}">{{ $date }}</a></time>
            {{ end }}
        </header>
    </article>
    {{ end }}
</aside>
