<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<style>
  .search-button {
      border-radius: 20px;
      padding: 8px;
      margin-right: 15px;
      cursor: pointer;
  }
  .search-dialog {
      padding: 15px;
      width: 80%;
      border-radius: 1rem;
  }
  .search-dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
   }
  .search-dialog input {
      padding: 10px 15px;
      color: #333;
  }
  .pagefind-ui button {
      border: none;
  }
  .pagefind-ui__result-title.svelte-4xnkmf .pagefind-ui__result-link.svelte-4xnkmf {
      color: unset;
  }
  input.pagefind-ui__search-input.svelte-e9gkc3 {
      color: unset;
  }
</style>

<dialog class="search-dialog"></dialog>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    new PagefindUI({
        element: '.search-dialog',
        autofocus: true,
        resetStyles: false,
        showSubResults: true,
    });

    let searchDialog = document.querySelector('.search-dialog');
    let searchInput = document.querySelector('.pagefind-ui__search-input');

    let showSearch = () => searchDialog.showModal();
    let hideSearch = () => searchDialog.close();

    let toggleSearch = () => {
      if (!searchDialog.open) {
        showSearch();
      } else {
        hideSearch();
      }
    };

    let isClickOutside = (elem, clickEvt) => {
      const elemDims = elem.getBoundingClientRect();
      return (
        clickEvt.clientX < elemDims.left ||
        clickEvt.clientX > elemDims.right ||
        clickEvt.clientY < elemDims.top ||
        clickEvt.clientY > elemDims.bottom
      );
    };

    // Close the search dialog if user clicks outside of it when it is open.
    // This feels like functionality that should really be natively supported
    // by the dialog element already.
    // https://blog.webdevsimplified.com/2023-04/html-dialog/
    searchDialog.addEventListener('click', (evt) => {
      if (searchDialog.open && isClickOutside(searchDialog, evt)) {
        hideSearch();
      }
    });

    window.addEventListener('keydown', (evt) => {
        if (evt.key === 'k' && evt.ctrlKey) {
            toggleSearch();
        }
    });

   document.querySelector('.search-button').addEventListener('click', showSearch);
  });
</script>
