#backtotop {
  position: fixed;
  right: 0;
  opacity: 0;
  visibility: hidden;
  bottom: 25px;
  margin: 0 1.563rem 0 0;
  z-index: 9999;
  transition: 0.35s;
  transform: scale(0.7);
  transition: all 0.5s;
}
#backtotop.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#backtotop.visible a:hover {
  outline: none;
  opacity: 0.9;
  background: #f39200;
}
#backtotop a {
  outline: none;
  text-decoration: none;
  border: 0;
  display: block;
  width: 46px;
  height: 46px;
  background-color: var(
    --pst-color-link
  ); /* may want something like #35293 --pst-semantic-teal-dark ?*/
  opacity: 1;
  transition: all 0.3s;
  border-radius: 50%;
  text-align: center;
  font-size: 1.625rem;
}
body #backtotop a {
  outline: none;
  color: var(--colorSecondary);
}
#backtotop a:after {
  outline: none;
  content: "⮝";
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
}
#backtotop.visible #backtotop-color:hover {
  background: var(--pst-color-link-hover);
}
