/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: var(--spht-page-width);
  padding: 0 var(--spht-page-padding);
}
@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important;
  }
}
