/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  padding: 0 calc(1.875rem + 1em);
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: calc(70em + 15em + 1.875rem);
  }
}
@media screen and (min-width: 1216px) {
  .container {
    max-width: calc(70em + 15em + 1.875rem);
  }
}
@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important;
  }
}
