.content-padding {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 1em;
}

.content-container {
  flex-basis: 70em;
  flex-shrink: 1;
  flex-direction: column;
  margin: 0 30px;

  /* Handle code cells overflowing */
  overflow: auto;
}
