.content-padding {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.content-container {
  max-width: 850px;
  margin: 0 30px;
  overflow: hidden;
}

.content-container ul {
  list-style-type: circle;
  padding: 10px;
  margin-left: 15px;
}

.content-container ol {
  padding: 10px;
  margin-left: 15px;
}

.content-container .divider {
  height: 3px;
  border-radius: 50px;
  background: var(--colorText);
  width: 60px;
  &.is-centered {
    margin: 0 auto;
  }
}
