/* Dark mode is now defined in pydata-sphinx-theme CSS */
/* See html[data-theme='light'] and html[data-theme='dark'] */

/* This CSS is to override the background to dark, if that is the browser preference,
   instead of defaulting to light mode rendering. */

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    --pst-color-background: #14181e;
  }
}

/* Once our colors have all been mapped to PST color names, this section can be removed. */
@media (prefers-color-scheme: dark) {
  :root {
    /* Basically, we reassign the colors named in the non-dark theme. The
       exception is the background: it seems to look better as #111
       than as --colorPrimaryDark. */
    --colorBackgroundAlt: var(--colorPrimaryDark);

    --colorContentLink: var(--colorPrimaryLight);

    --colorShadow: var(--colorSecondary);
    --colorHeading: var(--colorSecondary);

    /* For, e.g. .news-container */
    --colorTextInverse: var(--colorSecondaryLight);
    --colorBackgroundInverse: var(--colorPrimaryDark);
    --colorLinkInverse: var(--colorPrimaryLight);

    --colorBlockBackground: var(--colorPrimaryDark);
    --colorCode: #ffb8d1;
  }
}
