.navbar.is-fresh {
  position: relative;
  min-height: 3.8rem;
  transition: all 0.3s;
  z-index: 99;
}
.navbar.is-fresh .container {
  min-height: 4rem;
}
.navbar.is-fresh.no-shadow {
  box-shadow: none !important;
}
.navbar.is-fresh .navbar-burger {
  width: 4rem;
  height: 4rem;
}
.navbar.is-fresh .navbar-brand {
  min-height: 4rem;
}
.navbar.is-fresh .navbar-brand img {
  max-height: 36px !important;
  height: 36px;
}
.navbar.is-fresh .navbar-brand:hover .navbar-item {
  background: 0 0 !important;
}
.navbar.is-fresh .navbar-end {
  align-items: center;
}
.navbar.is-fresh .navbar-item.has-dropdown {
  padding: 10px 0;
}
.navbar.is-fresh .navbar-item.has-dropdown .navbar-link {
  color: #999;
}
.navbar.is-fresh .navbar-item.has-dropdown .navbar-link:after {
  top: 55%;
  height: 0.5em;
  width: 0.5em;
  border-width: 2px;
  border-color: #999;
}
.navbar.is-fresh .navbar-item.has-dropdown .navbar-dropdown {
  top: 3.4rem;
  min-width: 220px;
  margin-top: 4px;
  border-top-color: #f39200;
}
.navbar.is-fresh .navbar-item.has-dropdown .navbar-dropdown .navbar-item {
  padding: 10px 20px;
}
.navbar.is-fresh .navbar-item.has-dropdown:hover .navbar-link {
  color: #f39200;
}
.navbar.is-fresh .navbar-item.has-dropdown:hover .navbar-link:after {
  border-color: #f39200;
}
.navbar.is-fresh.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4rem !important;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}
.navbar.is-fresh.is-fixed a {
  color: #444f60;
}
.navbar.is-fresh.is-fixed a:hover {
  color: #4fc1ea;
}
#navbar-clone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  z-index: 100;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}
#navbar-clone.is-active {
  transform: translateY(0);
}
.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
}
@keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
section:focus {
  outline: none !important;
}
button:focus,
button:active {
  outline: none;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../../images/loaders/rings.svg);
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: -100px 0 0 -100px;
}
#backtotop {
  position: fixed;
  right: 0;
  opacity: 0;
  visibility: hidden;
  bottom: 25px;
  margin: 0 25px 0 0;
  z-index: 9999;
  transition: 0.35s;
  transform: scale(0.7);
  transition: all 0.5s;
}
#backtotop.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#backtotop.visible a:hover {
  outline: none;
  opacity: 0.9;
  background: #f39200;
}
#backtotop a {
  outline: none;
  text-decoration: none;
  border: 0;
  display: block;
  width: 46px;
  height: 46px;
  background-color: #66676b;
  opacity: 1;
  transition: all 0.3s;
  border-radius: 50%;
  text-align: center;
  font-size: 26px;
}
body #backtotop a {
  outline: none;
  color: #fff;
}
#backtotop a:after {
  outline: none;
  content: "⮝";
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
}
.stuck {
  position: fixed !important;
  top: 0 !important;
  z-index: 2 !important;
}
::-webkit-input-placeholder {
  color: #cecece;
}
::-moz-placeholder {
  color: #cecece;
}
