.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loaders/rings.svg);
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: -100px 0 0 -100px;
}
.stuck {
  position: fixed !important;
  top: 0 !important;
  z-index: 2 !important;
}
::-webkit-input-placeholder {
  color: #cecece;
}
::-moz-placeholder {
  color: #cecece;
}
