.keyfeatures {
  margin: 15px 0;
}

.keyfeatures .container {
  display: flex;
  flex-direction: column;
}

.keyfeatures-box-container {
  display: flex;
  flex-wrap: wrap;
}

.keyfeatures-box-content {
  min-width: 275px;
  width: 335px;
  margin: 25px auto;
  border: 0.02em solid var(--pst-color-border);
  box-shadow:
    0 0.2rem 0.5rem var(--pst-color-shadow),
    0 0 0.0625rem var(--pst-color-shadow);
}

.keyfeatures-box-title {
  margin: 15px;
  font-size: 1.1em;
  text-transform: uppercase;
}

.keyfeatures-box-text {
  line-height: 1.5;
  margin: 15px;
  height: auto;
  overflow: hidden;
}

.keyfeatures-box-text:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 70%;
  height: 1.2em;
}

@media only screen and (max-width: 1280px) {
  .keyfeatures .container {
    align-items: center;
    justify-content: center;
  }

  .keyfeatures-box-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 1090px) {
  .keyfeatures .container {
    margin: 0 6vw;
  }
}

@media only screen and (max-width: 425px) {
  .keyfeatures .container {
    align-items: center;
    justify-content: center;
    margin: 0 10%;
  }
}

.keyfeatures-underline {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.keyfeatures-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #013243;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.keyfeatures-underline:hover:before,
.keyfeatures-underline:focus:before,
.keyfeatures-underline:active:before {
  right: 0;
}
