@media not (prefers-color-scheme: dark) {
  :root {
    /* Now we assign those named colors to various purposes. */
    --colorBackground: var(--colorSecondaryLight);
    --colorBackgroundAlt: var(--colorPrimaryDark);
    --colorBackgroundAlt2: var(--colorSecondaryDark);

    --colorText: var(--colorPrimaryDark);
    --colorTextAlt: var(--colorSecondaryLight);

    --colorContentLink: var(--colorBrightBlue);
    --colorHeading: var(--colorPrimaryDark);
    --colorHighlight: var(--colorYellow);
    --colorHover: var(--colorPrimaryLight);
    --colorIcon: var(--colorBrightBlue);
    --colorShadow: var(--colorPrimaryDark);

    /* .notice boxes (the heading colors are the same in both themes) */
    --colorNoteBackground: #e7f2fa;
    --colorInfoBackground: #fff2db;
    --colorWarningBackground: #fae2e2;
    --colorTipBackground: #e6f9e6;

    /* Color from bulma.css, but this variable is currently only used for
       dark mode. */
    --colorCode: #da1039;
  }
}
