@media not (prefers-color-scheme: dark) {
  :root {
    /* Now we assign those named colors to various purposes. */
    --colorBackground: var(--colorSecondaryLight);
    --colorBackgroundAlt: var(--colorPrimaryDark);
    --colorBackgroundAlt2: var(--colorSecondaryDark);

    --colorText: black;
    --colorTextAlt: var(--colorSecondaryDark);

    --colorContentLink: var(--colorBrightBlue);
    --colorHeading: var(--colorPrimaryDark);
    --colorHighlight: var(--colorYellow);
    --colorHover: var(--colorPrimaryLight);
    --colorIcon: var(--colorBrightBlue);
    --colorShadow: var(--colorPrimaryDark);

    --colorBlockBackground: var(--colorSecondary);

    /* For, e.g. .news-container */
    --colorTextInverse: var(--colorBackground);
    --colorBackgroundInverse: var(--colorPrimaryDark);
    --colorLinkInverse: var(--colorPrimaryLight);
  }
}
