dl.field-list {
  display: grid;
  grid-template-columns: fit-content(30%) auto;
}

dl.field-list > dt {
  font-weight: bold;
  word-break: break-word;
  padding-left: 0.5rem;
  padding-right: 0.313rem;
}

dl.field-list > dd {
  padding-left: 0.5rem;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
