nav,
.navbar {
  background: var(--pst-color-background);
  position: sticky;
  top: 0;
  min-height: 3.8rem;
  transition: all 0.3s;
  z-index: 99;
}
.navbar-brand {
  align-items: stretch;
  display: flex;
  min-height: 4rem;
}
.navbar-logo {
  height: 28px;
  padding-right: 1rem;
}
.navbar-logo-text {
  font-size: 1.25rem;
  font-weight: 700;
}
.navbar .container {
  min-height: 4rem;
}
.navbar-brand img {
  max-height: 36px !important;
  height: 36px;
}
a.navbar-item,
a.navbar-item:visited,
.navbar-item.has-dropdown .navbar-link,
.navbar-burger {
  color: var(--pst-color-text-base);
  text-decoration: none;
}
a.navbar-item:hover,
.navbar-burger:hover,
.navbar-item.has-dropdown:hover .navbar-link {
  color: var(--pst-color-link-hover);
  text-decoration: underline;
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}

.navbar-burger {
  font-family: inherit;
  font-size: 1em;
  padding: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: 0 0;
  border: none;
  cursor: pointer;
  position: relative;
  margin: 0 0 0 auto;
  width: 4rem;
  height: 4rem;
}
.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}
.navbar-burger span:first-child {
  top: calc(50% - 6px);
}
.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}
.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}
.navbar-burger.is-active span:first-child {
  transform: translateY(5px) rotate(45deg);
}
.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}
.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
.navbar-menu {
  display: none;
}
.navbar-item,
.navbar-link {
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}
.navbar-item {
  flex-grow: 0;
  flex-shrink: 0;
}
.navbar-item img {
  max-height: 1.75rem;
}
.navbar-item.has-dropdown {
  padding: 10px 0;
}
.navbar-link {
  padding-right: 2.5em;
}
.navbar-dropdown {
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-item.has-dropdown .navbar-link:after {
  top: 55%;
  height: 0.5em;
  width: 0.5em;
  border-width: 2px;
  border-color: #999;
}
.navbar-item.has-dropdown .navbar-dropdown {
  top: 3.4rem;
  min-width: 220px;
  margin-top: 4px;
}
.navbar-item.has-dropdown .navbar-dropdown .navbar-item {
  padding: 10px 20px;
}

@media screen and (max-width: 1023px) {
  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }
  .navbar-menu {
    padding: 0.5rem 0;
  }
  .navbar-menu.is-active {
    background: var(--pst-color-surface);
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-end,
  .navbar-menu {
    display: flex;
  }
  .navbar-burger {
    display: none;
  }
  .navbar > .container {
    align-items: stretch;
    display: flex;
  }
  .navbar > .container .navbar-brand {
    margin-left: -0.75rem;
  }
  .navbar > .container .navbar-menu {
    margin-right: -0.75rem;
  }
  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }
  .navbar-item.has-dropdown {
    align-items: stretch;
  }
  .navbar-item.is-active .navbar-dropdown,
  .navbar-item.has-dropdown:focus .navbar-dropdown,
  .navbar-item.has-dropdown:focus-within .navbar-dropdown,
  .navbar-item.has-dropdown:hover .navbar-dropdown {
    display: block;
  }
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-end {
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
  .navbar-dropdown {
    background-color: var(--pst-color-surface);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
  }
  .navbar-dropdown .navbar-item {
    padding: 0.375rem 1rem;
    white-space: nowrap;
  }
  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }
  .navbar-link::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: center;
    margin-top: -0.375em;
    right: 1.125em;
  }
}
