.notice {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #666;
}

.notice-type {
  font-size: 1rem;
  font-weight: bold;
  padding: 0rem 1rem 0rem 1rem;
  width: 100%;
  color: white;
  display: inline-block;
}

.notice-content {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.note-notice .notice-type {
  background: var(--colorNoteHeading);
}
.note-notice .notice-content {
  background: var(--colorNoteBackground);
  color: var(--colorText);
}

.info-notice .notice-type {
  background: var(--colorInfoHeading);
}
.info-notice .notice-content {
  background: var(--colorInfoBackground);
  color: var(--colorText);
}

.warning-notice .notice-type {
  background: var(--colorWarningHeading);
}
.warning-notice .notice-content {
  background: var(--colorWarningBackground);
  color: var(--colorText);
}

.tip-notice .notice-type {
  background: var(--colorTipHeading);
}
.tip-notice .notice-content {
  background: var(--colorTipBackground);
  color: var(--colorText);
}

.mission-notice .notice-type {
  background: var(--colorNoteHeading);
}
.mission-notice .notice-content {
  background: var(--colorNoteBackground);
  color: var(--colorText);
}

.values-notice .notice-type {
  background: var(--colorNoteHeading);
}
.values-notice .notice-content {
  background: var(--colorNoteBackground);
  color: var(--colorText);
}
