div.post-list {
    clear: left;
}

.post-title a {
  /* ".content-padding a" rule conflicts. */
  color: var(--colorText) !important;
}

.post-list article {
  padding-top: 1.5rem;
}

.post-list .post-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.post-author {
  color: var(--colorSecondaryDark);
  display: inline;
}

.post-author:not(:last-child):after {
  content: ", ";
}

.post-list .post-date {
  color: var(--colorSecondaryDark);
}

.post-list .post-summary {
  padding-top: 0.5rem;
}

svg.calendar-icon, svg.person-icon {
  /* FIXME: Use a color variable. */
  fill: gray;
}
