.post-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.post-list article {
  flex-grow: 2;
  flex-basis: 48%;
  padding-top: 1.5rem;
}

.post-title a {
  /* ".content-padding a" rule conflicts. */
  color: var(--pst-color-text-base) !important;
}

.post-meta {
  color: var(--pst-color-text-muted);
}

.post-list .post-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.post-author {
  display: inline;
}

.post-author:not(:first-child):before {
  content: "";
}

.post-date {
  padding-left: 0.5rem;
}

/* Reduce space between label icon and labels */
.post-tag:nth-child(2) {
  padding-left: 0.1rem;
}

.post-tag {
  padding-left: 0.3rem;
}

.post-author:not(:first-child) {
  padding-left: 0.5rem;
}

.post-meta {
  padding-bottom: 1rem;
}

.post-meta .icon {
  font-size: 1.5rem;
}

.post-meta svg {
  fill: gray;
}

.post-content p:not(:last-child) {
  margin-bottom: 0.25rem;
}

.post-summary img {
  border: 1px solid #bbb;
  float: right;
  max-width: 15em;
  margin: 0.5em;
}

.post-list .post-summary {
  padding-top: 0.5rem;
}

.post-featuredImage img {
  /* FIXME: Use color variable. */
  border: 1px #bbb solid;
  max-width: 20rem;
  margin: 0.5em;
  float: left;
  margin-right: 1.25rem;
}

.read-more {
  font-style: italic;
}

.tag-cloud {
  position: sticky;
  align-self: flex-start;
  top: 6rem;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

.tag-cloud-title {
  font-size: 2rem;
  margin-top: 3.75rem;
  padding-bottom: 0.625rem;
}
