#shortcuts-container {
  position: sticky;
  align-self: flex-start;
  top: 5rem;
  flex-basis: 15em;
  /* We disable shrinking for this container, otherwise the single-line
   items start wrapping to two lines, especially when active and
   bolded, which causes distracting layout changes. */
  flex-shrink: 0;
}

#shortcuts {
  margin-top: 10px;
  font-size: 0.9rem;
}

#shortcuts-header {
  padding-left: calc(1rem + 2px);
  padding-bottom: 0.25rem;
}

#shortcuts > div:not(.active) {
  margin-left: 2px;
  border-left: 1px solid var(--pst-color-text-base);
  opacity: 0.75;
}

#shortcuts > div.active {
  font-weight: bold;
  color: var(--pst-color-text-base);
  border-left: 5px solid var(--pst-color-text-base);
}

.shortcuts-H2 {
  padding: 5px 5px 0 15px;
  font-size: 95%;
  cursor: pointer;
}

.shortcuts-H3 {
  padding: 5px 5px 0 25px;
  font-size: 90%;
  cursor: pointer;
}

.shortcuts-H4 {
  padding: 5px 5px 0 35px;
  font-size: 85%;
  cursor: pointer;
}

/* Same breakpoint as burger menu */
@media screen and (max-width: 1023px) {
  #shortcuts-container {
    display: none;
  }
}
