#shortcuts-container {
  position: sticky;
  align-self: flex-start;
  top: 6rem;
  width: 100%;
  max-width: 150px;
  margin: 75px 15px;
}

#shortcuts {
  margin-top: 10px;
}

#shortcuts > div:not(.active) {
  margin-left: 2px;
  border-left: 1px solid var(--pst-color-text-base);
  opacity: 0.75;
}

#shortcuts > div.active {
  font-weight: bold;
  color: var(--pst-color-text-base);
  border-left: 5px solid var(--pst-color-text-base);
}

.shortcuts-H2 {
  padding: 5px 5px 0 15px;
  font-size: 15px;
  cursor: pointer;
}

.shortcuts-H3 {
  padding: 5px 5px 0 25px;
  font-size: 14px;
  cursor: pointer;
}

.shortcuts-H4 {
  padding: 5px 5px 0 35px;
  font-size: 12px;
  cursor: pointer;
}

@media only screen and (max-width: 1090px) {
  #shortcuts-container {
    display: none;
  }
}
