body {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.text-center {
  text-align: center !important;
}

img {
  max-width: 100%;
}

img.align-left,
figure.align-left,
.figure.align-left,
object.align-left {
  clear: left;
  float: left;
  margin-right: 1em;
}

img.align-right,
figure.align-right,
.figure.align-right,
object.align-right {
  clear: right;
  float: right;
  margin-left: 1em;
}

img.align-center,
figure.align-center,
.figure.align-center,
object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.align-default,
figure.align-default,
.figure.align-default {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

strong.caption-title {
  font-weight: bold;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-default {
  text-align: center;
}

.align-right {
  text-align: right;
}

aside.sidebar {
  width: 40%;
  float: right;
  clear: right;
  overflow-x: auto;
}

/**
 * See `code.literal` in
 * src/pydata_sphinx_theme/assets/styles/content/_code.scss
 */
:not(pre) > code {
  padding: 0.1rem 0.25rem;
  background-color: var(--pst-color-surface);
  border: 1px solid var(--pst-color-border);
  border-radius: 0.25rem;
  font-size: 0.875em;
}

a > code {
  color: var(--pst-color-inline-code-links);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5em;
}

@media only screen and (max-width: 600px) {
  .flex-column {
    margin: 0 1.875rem;
  }
}

/* Icon size for the whole document */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-right: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
}

svg.icon {
  height: 0.75em;
  width: 0.75em;
  vertical-align: middle;
}

.chroma {
  padding: 0.625rem;
}

/* reboot stuff needed for pydata-sphinx-theme */

pre {
  font-size: 0.875em;
  overflow: auto;
}

/* hide headerlinks until hovered over */
a.headerlink {
  visibility: hidden;
}

:is(h1, h2, h3, h4, h5, h6):hover > a.headerlink {
  visibility: visible;
}

#breadcrumbs {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
}

.subtitle {
  font-style: italic;
  margin-top: -0.5rem;
}

/* Local Variables: */
/* css-indent-offset: 2 */
/* End: */
