.tabs {
  display: block;
  padding-bottom: 1.5rem;
}
.tabs :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0.5rem;
}

[role="tablist"] {
  display: inline-block;
  min-width: 100%;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0;
  margin-top: 4px;
  padding: 2px 2px 4px;
  background-color: var(--pst-color-background);
  border-color: transparent transparent var(--pst-color-primary);
  color: var(--pst-color-primary);
  outline: none;
  font-weight: bold;
  max-width: 22%;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

[role="tab"][aria-selected="true"] {
  padding: 2px 2px 4px;
  margin-top: 0;
  border-color: transparent transparent var(--pst-color-primary);
  color: var(--pst-color-primary);
}

[role="tab"][aria-selected="false"] {
  padding: 2px 2px 4px;
  border-bottom: 1px solid var(--pst-color-text);
}

[role="tab"] span.focus {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
}

/* This makes the tab bounce around */
/* [role="tab"]:hover span.focus, */
/* [role="tab"]:focus span.focus, */
/* [role="tab"]:active span.focus { */
/*   padding: 2px 2px 4px; */
/*   border: 1px solid rgb(36 116 214); */
/*   border-radius: 3px; */
/* } */

[role="tabpanel"] {
  box-shadow: 0 -0.0625rem var(--pst-color-text-muted),0 .0625rem var(--pst-color-text-muted);
  width: 100%;
  overflow: auto;
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"] p {
  margin: 0;
}
