.tabs {
  display: block;
  padding-bottom: 1.5rem;
}
.tabs :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0.5rem;
}

[role="tablist"] {
  display: inline-block;
  min-width: 100%;
}

[role="tab"] {
  padding: 2px 2px 4px;
  background-color: var(--pst-color-background);
  border-color: transparent transparent var(--pst-color-primary);
  color: var(--pst-color-text);
  outline: none;
  font-weight: bold;
  max-width: 22%;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

[role="tab"]:focus,
[role="tab"]:hover {
  color: var(--pst-color-primary);
}

[role="tab"][aria-selected="true"] {
  border-color: transparent transparent var(--pst-color-primary);
  color: var(--pst-color-primary);
}

[role="tab"][aria-selected="false"] {
  border-bottom: 1px solid var(--pst-color-text);
}

[role="tab"] span.focus {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
}

[role="tabpanel"] {
  box-shadow:
    0 -0.0625rem var(--pst-color-text-muted),
    0 0.0625rem var(--pst-color-text-muted);
  width: 100%;
  overflow: auto;
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"] p {
  margin: 0;
}
