/* prettier-ignore */
:root {
  --fontFamily: "{{ .Site.Params.font.name }}", "Noto Sans Symbols 2";

  --colorPrimaryDark: rgb(1, 50, 67);
  --colorPrimary: rgb(77, 119, 207);
  --colorPrimaryLight: rgb(77, 171, 207);

  --colorSecondaryDark: rgb(108, 122, 137);
  --colorSecondary: rgb(238, 238, 238);
  --colorSecondaryLight: rgb(255, 255, 255);

  --colorBrightBlue: rgb(30, 135, 240);
  --colorYellow: rgb(255, 197, 83);

  --spht-footer-height: 6em;

  --fa-copy: "\f0c5";  /* fa-solid fa-copy */
}
