/* prettier-ignore */
:root {
  --fontFamily: "{{ .Site.Params.font.name }}", "Noto Sans Symbols 2";

  /* First we name the colors of our theme's palette. */
  --colorPrimaryDark: rgb(1, 50, 67);
  --colorPrimary: rgb(77, 119, 207);
  --colorPrimaryLight: rgb(77, 171, 207);

  --colorSecondaryDark: rgb(108, 122, 137);
  --colorSecondary: rgb(238, 238, 238);
  --colorSecondaryLight: rgb(255, 255, 255);

  --colorBrightBlue: rgb(30, 135, 240);
  --colorYellow: rgb(255, 197, 83);

    /* FIXME: These colors should probably use named colors. */
  --colorNoteHeading: #6ab0de;
  --colorNoteBackground: #e7f2fa;

  --colorInfoHeading: #f0b37e;
  --colorInfoBackground: #fff2db;

  --colorWarningHeading: rgba(217, 83, 79, 0.8);
  --colorWarningBackground: #fae2e2;

  --colorTipHeading: rgba(92, 184, 92, 0.8);
  --colorTipBackground: #e6f9e6;
}
