{{/*

doc: Create note, warning, information, and tip notices.

{{< admonition attention >}}
Climate change is real.
{{< /admonition >}}

{{< admonition caution >}}
Cliff ahead: Don’t drive off it.
{{< /admonition >}}

{{< admonition danger >}}
Mad scientist at work!
{{< /admonition >}}

{{< admonition error >}}
Does not compute.
{{< /admonition >}}

{{< admonition hint >}}
Insulators insulate, until they are subject to ______ voltage.
{{< /admonition >}}

{{< admonition important >}}
Tech is not neutral, nor is it apolitical.
{{< /admonition >}}

{{< admonition note >}}
This is a note.
{{< /admonition >}}

{{< admonition seealso >}}
Other relevant information.
{{< /admonition >}}

{{< admonition tip >}}
25% if the service is good.
{{< /admonition >}}

{{< admonition warning>}}
Reader discretion is strongly advised.
{{< /admonition >}}

*/}}

<div class="admonition {{ .Get 0 }}">
  <div class="admonition-title"> &nbsp;{{ .Get 0 | humanize }}</div>
  <p>
    {{ .Inner | markdownify }}
  </p>
</div>
