{{/*

doc: Create button links in various styles.

{{< button
    style="info"
    label="Info"
    link="http://example.com/" >}}

{{< button
    style="success"
    label="Success"
    link="http://example.com/" >}}

{{< button
    style="warning"
    label="Warning"
    link="http://example.com/" >}}

{{< button
    style="danger"
    label="Danger"
    link="http://example.com/" >}}

{{< button
    style="muted"
    label="Muted"
    link="http://example.com/" >}}

{{< button
    style="light"
    label="Light"
    link="http://example.com/" >}}

{{< button
    style="dark"
    label="Dark"
    link="http://example.com/" >}}

<p>

{{< button
    style="outline-info"
    label="Info"
    link="http://example.com/" >}}

{{< button
    style="outline-success"
    label="Success"
    link="http://example.com/" >}}

{{< button
    style="outline-warning"
    label="Warning"
    link="http://example.com/" >}}

{{< button
    style="outline-danger"
    label="Danger"
    link="http://example.com/" >}}

{{< button
    style="outline-muted"
    label="Muted"
    link="http://example.com/" >}}

{{< button
    style="outline-light"
    label="Light"
    link="http://example.com/" >}}

{{< button
    style="outline-dark"
    label="Dark"
    link="http://example.com/" >}}

*/}}

{{- $button := dict -}}
{{- range $key, $value := .Params -}}
{{- $button = merge $button (dict $key $value) -}}
{{- end -}}

<a href="{{$button.link}}"><span class="sd-btn sd-btn-{{$button.style}}">{{$button.label}}</span></a>
