{{- $data := .Inner | transform.Unmarshal -}}
{{- with .Parent -}}
<div class="sd-col sd-d-flex-row">
{{ with $data.link }}
<div class="sd-card sd-w-100 sd-shadow-sm sd-card-hover">
{{ else }}
<div class="sd-card sd-w-100 sd-shadow-sm">
{{ end }}
{{- else -}}
{{ with $data.link }}
<div class="sd-card sd-mb-3 sd-shadow-sm sd-card-hover">
{{ else }}
<div class="sd-card sd-mb-3 sd-shadow-sm">
{{ end }}
{{- end -}}
  {{ with $data.header }}
  <div class="sd-card-header">
      {{ . | markdownify }}
  </div>
  {{ end }}
  <div class="sd-card-body">
    {{ with $data.title }}
    <div class="sd-card-title sd-font-weight-bold">
      {{ . }}
    </div>
    {{ end }}
    {{ with (trim $data.body "\n") }}
      {{ . | markdownify }}
    {{ end }}
  </div>
  {{ with $data.link }}
  <a class="sd-stretched-link" href="{{.}}"></a>
  {{ end }}
  {{ with $data.footer }}
  <div class="sd-card-footer">
    {{ . | markdownify }}
  </div>
  {{ end }}
{{- with .Parent -}}
</div>
{{ end }}
</div>
