{{/*

doc: Cards

{{< card >}}
title = 'Only title'
{{< /card >}}

{{< card >}}
body = '''
Only body.

But with multiple text paragraphs.
'''
{{< /card >}}

{{< card >}}
title = 'Heading and body'
body = '''
Content of the third card.

{{< badge primary >}}Sample badge{{< /badge >}}
'''
{{< /card >}}


{{< card >}}
header = 'Header'
title = 'Card Title'
body = 'Card content'
footer = 'Footer'
{{< /card >}}

*/}}

{{- $data := .Inner | transform.Unmarshal -}}

<div class="bd-content">
<div class="sd-card sd-shadow-sm sd-mb-3">
    {{ with $data.header }}
    <div class="sd-card-header">
        {{ . | markdownify }}
    </div>
    {{ end }}
    <div class="sd-card-body">
  {{ with $data.title }}
  <div class="sd-card-title sd-font-weight-bold">
    {{ . }}
  </div>
  {{ end }}
  {{ with (trim $data.body "\n") }}
    {{ . | markdownify }}
  {{ end }}
</div>
{{ with $data.footer }}
<div class="sd-card-footer">
  {{ . | markdownify }}
</div>
{{ end }}
</div>
</div>
