{{/*

doc: Grids.

{{< grid columns="1 2 3 4" outline="true" >}}

[[item]]
type = ''
body = 'A'

[[item]]
type = ''
body = 'B'

[[item]]
type = ''
body = 'C'

[[item]]
type = ''
body = 'D'

{{< /grid >}}

{{< grid columns="1 2 2 4" >}}

[[item]]
type = 'card'
title = 'Only title'

[[item]]
type = 'card'
body = '''
Only body.

But with multiple text paragraphs.
'''

[[item]]
type = 'card'
title = 'Heading and body'
body = '''
Content of the third card.

{{< badge primary >}}Sample badge{{< /badge >}}
'''

[[item]]
type = 'card'
title = 'A card with a dropdown menu'
body = '''
{{< dropdown >}}
title = 'Click to expand dropdown'
icon = 'fa-solid fa-eye'
body = 'Hidden content'
{{< /dropdown >}}
'''

[[item]]
type = 'card'
header = 'Header'
title = 'Card Title'
body = 'Card content'
footer = 'Footer'

[[item]]
type = 'card'
header = 'A clickable image card'
link='https://example.com'
body='''
{{< image
    src="https://images.unsplash.com/photo-1546238232-20216dec9f72"
    alt="Cute puppies"
>}}
'''

[[item]]
type = 'card'
classcard = 'text-center'
link = 'https://example.com'
body = '''
{{< image
    src="https://images.unsplash.com/photo-1546238232-20216dec9f72"
    alt="Cute puppies"
>}}

A clickable figure card'''

[[item]]
type = 'card'
link = 'https://example.com'
body = '''
{{< image
    src="https://images.unsplash.com/photo-1546238232-20216dec9f72"
    alt="Cute puppies"
>}}
'''
footer = 'A clickable figure card'

{{< /grid >}}

{{< grid columns="2 2 2 2" >}}

[[item]]
type = 'card'
columns = "auto auto auto auto"
body = 'A'

[[item]]
type = 'card'
columns = "12 6 6 6"
body = 'B'

[[item]]
type = 'card'
columns = "12 12 12 12"
body = 'C'

{{< /grid >}}

Here's a grid with gutters. A single value applies to all breakpoints.

{{< grid columns="1 2 3 4" gutter="1" >}}

[[item]]
type = 'card'
body = 'Tight spacing'

[[item]]
type = 'card'
body = 'Tight spacing'

[[item]]
type = 'card'
body = 'Tight spacing'

[[item]]
type = 'card'
body = 'Tight spacing'

{{< /grid >}}

Here's a grid with no gutters, which means no spacing between items.

{{< grid columns="2 2 2 2" gutter="0" >}}

[[item]]
type = 'card'
body = 'No spacing'

[[item]]
type = 'card'
body = 'No spacing'

{{< /grid >}}

*/}}

{{- $items := "" -}}
{{- with .Get "file" -}}
  {{- with $.Page.Resources.Get  . | transform.Unmarshal }}
    {{- $items = (index . "item") }}
  {{- else }}
    {{- errorf "Unable to get page resource %q" . }}
  {{- end }}
{{- else }}
  {{- $items = (index (.Inner | transform.Unmarshal) "item") }}
{{- end }}
{{- partial "_elements/grid.html" (merge .Params (dict "items" $items)) -}}
