{{/*

doc: A tabs panel.

{{< tabs >}}

{{< tab "c++" >}}
An example program in C++:
```c++
int main(const int argc, const char **argv) {
    return 0;
}
```
It simply returns 0, indicating no errors.
{{< /tab >}}

{{< tab "python" >}}
An example program in Python:
```python
def main():
    return True
```
It returns `True`, indicating no errors.
{{< /tab >}}

{{< /tabs >}}

*/}}

<!-- Render inner tabs, which adds them to a scratch variable for this parent shortcode -->
{{- .Inner -}}
{{- $groupId := .Page.Scratch.Get "tabgroup" | default 0 -}}
{{- .Page.Scratch.Set "tabgroup" (add $groupId 1) -}}
<div class="tabs">
  <div role="tablist" class="automatic">
    {{- range $idx, $tab := .Scratch.Get "tabs" }}
    <button id="{{ $groupId }}-tab-{{ $idx }}" type="button" role="tab" aria-selected="{{ cond (eq $idx 0) "true" "false" }}" aria-controls="{{ $groupId }}-tabpanel-{{ $idx }}">
      {{ .name }}
    </button>
    {{- end }}
  </div>
  {{- range $idx, $tab := .Scratch.Get "tabs" }}
  <div id="{{ $groupId }}-tabpanel-{{ $idx }}" role="tabpanel" tabindex="0" aria-labelledby="${{ $groupId }}-tab-{{ $idx }}">
    {{- .content | markdownify -}}
  </div>
  {{- end }}
</div>
