{{/*

doc: Render TOML to an HTML table.

{{< tomlToTable >}}

caption = 'Table caption'
align = ["left", "left", "right"]
width = "80%"
widths = ["10%", "50%", "20%"]
headerrows = 1
footer-rows = 3
stub-columns = 1

[[row]]
column = [
  "Project",
  "Available Packages",
  "Download location"
]

[[row]]
column = [
  "NumPy",
  "Official *source code* (all platforms) and *binaries* for<br/>\n**Windows**, **Linux**, and **Mac OS X**\n",
  "[PyPi page for NumPy](https://pypi.python.org/pypi/numpy)"
]

[[row]]
column = [
  "SciPy",
  "Official *source code* (all platforms) and *binaries* for<br/>\n**Windows**, **Linux** and **Mac OS X**\n",
  "[SciPy release page](https://github.com/scipy/scipy/releases) (sources)<br/>\n[PyPI page for SciPy](https://pypi.python.org/pypi/scipy) (all)\n"
]

{{< /tomlToTable >}}

*/}}

{{- $data := .Inner | transform.Unmarshal }}
{{- $id := printf "id%03d" $.Ordinal -}}
{{- $align := $data.align }}
{{- $numrows := $data.row | len }}
{{- $headerrows := or $data.headerrows 0 }}
{{- $header := first $headerrows $data.row }}
{{- $body := last (math.Sub $numrows $headerrows) $data.row }}

<table class="table" id="{{ $id }}" {{- with $data.width }}style="width: {{ . }}"{{- end }}>
  {{- with $data.caption }}
    <caption><span class="caption-text">{{ . }}</span><a class="headerlink" href="#{{ $id }}" title="Link to this table">#</a></caption>
  {{- end }}
  {{- with $data.widths }}
    <colgroup>
      {{- range . }}
        <col style="width: {{ . }}" />
      {{- end }}
    </colgroup>
  {{ end }}
  {{- if $header }}<thead>
  {{- range $row_idx, $row := $header }}
    {{ if (modBool $row_idx 2) }}<tr class="row-odd">{{- else }}<tr class="row-even">{{- end }}
    {{- range $col_idx, $col := $row.column }}
      {{- $alignment := or (index $align $col_idx) "left" }}
      <th class="head" style="text-align:{{ $alignment }}">
        {{ $col | markdownify }}
      </th>
    {{- end }}
    </tr>
  {{- end }}
  </thead>
  {{- end }}
  <tbody>
  {{- range $row_idx, $row := $body }}
    {{ if (modBool (add $row_idx $headerrows) 2) }}<tr class="row-odd">{{- else }}<tr class="row-even">{{- end }}
    {{- range $col_idx, $col := $row.column }}
      {{- $alignment := or (index $align $col_idx) "left" }}
      <td class="head" style="text-align:{{ $alignment }}">
        {{ $col | markdownify }}
      </td>
    {{- end }}
     </tr>
  {{- end }}
  </tbody>
</table>
